.dashboard-container {
  background-color: #f9f9f9;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  display: flex;
  flex-direction: row;

  .section-select {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .section-select-button {
      height: 60px;
      width: 200px;
      border: solid 5px #efefef;
      margin: 10px 0px 10px 0px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      -webkit-user-select: none;
      -moz-user-select: -moz-none;
      -ms-user-select: none;
    }

    .section-select-button-disable {
      height: 60px;
      width: 200px;
      border: solid 5px #dbdbdb;
      background-color: #efefef;
      margin: 10px 0px 10px 0px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      -webkit-user-select: none;
      -moz-user-select: -moz-none;
      -ms-user-select: none;

      p {
        color: rgba(154, 154, 154, 0.8);
      }
    }

    .section-select-button:hover {
      background-color: #efefef;
      cursor: pointer;
    }
  }

  .all-card-container {
    height: 90vh;
    border-left: solid 1px #d4cfcf;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    background-color: #f9f9f9;
    overflow: scroll;
  }
}
