.check-card-container-good-check {
  height: 40px;
  width: 130px;
  border: solid 2px green;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 10px 10px;
}
.check-card-container-false-check {
  height: 40px;
  width: 130px;
  border: solid 2px red;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 10px 10px;
}

.check-card-container-good-check.clickable:hover {
  border: solid 3px rgb(0, 107, 0);
}

.check-card-container-false-check.clickable:hover {
  border: solid 3px rgb(230, 0, 0);
}

.clickable:hover {
  cursor: pointer;
}
